.background-image {
    background-image: url('/static/OIP.jpg'); /* Replace 'background.jpg' with your actual image file */
    background-size: cover;
    background-position: center;
    /* Add any additional styling you need */
}